# Visual Studio stuff
/src/.vs/
/src/*/bin/
/src/*/obj/

# ReSharper stuff
/src/_ReSharper.*

# Rider stuff
/src/.idea/

# build related
/tools/*/
/src/SharedAssemblyInfo.cs
/tools/TestResult.xml
/src/*.nuspec
/*.nupkg
