# Visual Studio stuff
/src/*.user
/src/*.suo
/src/*/bin/
/src/*/obj/
/src/*/*.user

# ReSharper stuff
/src/_ReSharper.*

# Rider stuff
/src/.idea/

# Managed by NuGet
/packages/

# build related
/tools/*/
/src/SharedAssemblyInfo.cs
/tools/TestResult.xml
/src/*.nuspec
/*.nupkg
